/* || CSS Reset (https://andy-bell.co.uk/a-modern-css-reset/) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || Custom properties */
:root {
  --color-dusted-peri: hsl(234 25% 52%);
  --color-deadly-depths: hsl(233 54% 16%);
  --color-top-shelf: hsl(232 10% 56%);
  --color-flamboyant-flamingo: hsl(341 92% 62%);
  --color-taffy-pink: hsl(341 100% 83%);
  --color-white: hsl(0 0% 100%);
  --color-outrageous-orange: hsl(13 100% 64%);
  --color-magnificent-magenta: hsl(322 87% 55%);
  --color-hooloovoo-blue: hsl(237 100% 64%);
  --gradient-orange-to-magenta: linear-gradient(
    var(--color-outrageous-orange) 0%,
    var(--color-magnificent-magenta) 100%
  );
  --gradient-blue-to-magenta: linear-gradient(
    var(--color-hooloovoo-blue) 0%,
    var(--color-magnificent-magenta) 100%
  );
  --font-family-primary: "Plus Jakarta Sans", sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 2.5rem;
  --font-size-5xl: 3.5rem;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --line-height-base: normal;
  --line-height-lg: 1.25;
  --line-height-xl: 1.333;
  --line-height-2xl: 1.555;
  --line-height-3xl: 1.625;
  --line-height-4xl: 1.75;
}
